.align-self-end {
    font-size: medium;
}
body {
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}
.navbar {
    opacity: 0.9; 
}
#home-section {
    background-image: url("../img/home.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px; 
}
#home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; 
}
#home-section .home-inner {
    padding-top: 150px; 
    margin: auto;
}
#home-section .card-form {
    opacity: 0.8; 
}
#home-section .fas, #create-section .fas {
    color: blue;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; 
}
#explore-section .fas,  #share-section .fas {
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}